<h1>Symlog Team Befragung</h1>
<p>
  Das <a href="http://de.wikipedia.org/wiki/Symlog">Symlog</a> Verfahren versucht durch das Verhalten von Personen auf ihre gruppen-orientierten Eigenschaften zu schließen.<br /> Dabei werden die Meinungen und Erfahrungen der anderen Teammitglieder zu einem Gesamtbild oder auch Fremdbild vermengt.
</p>

<p>
  Im folgenden sind 26 Verhaltensweisen von Menschen notiert, mit jeweils einer Auswahlmöglichkeit für nie, selten, manchmal, häufig oder immer. <br />Sobald die Befragung von allen im Team abgeschlossen ist, werde ich die Auswertung online stellen und euch das Ergebnis erläutern.
</p>

<p>Der Quellcode dieser App ist bei <%= link_to "github", "http://github.com/elitau/symlog" %>.</p>


<h3>
  <%= link_to 'Start', new_survey_path %>
</h3>
