<h1>pkw.de dev Team Befragung</h1>
<p>
  Das <a href="http://de.wikipedia.org/wiki/Symlog">Symlog</a> Verfahren versucht durch das Verhalten von Personen auf ihre gruppen-orientierten Eigenschaften zu schließen. Dabei werden die Meinungen und Erfahrungen der anderen Teammitglieder zu einem Gesamtbild vermengt, dem so genannten Fremdbild. Damit sollen Fragen wie
  
  <ul>
    <li>Wie sehen mich die anderen Teammitglieder?</li>
    <li>Wie wirke ich auf die anderen Teammitglieder?</li>
    <li>usw.</li>
  </ul>
  beantwortet werden.
</p>

<p>
  Im folgenden sind 26 Verhaltensweisen von Menschen notiert, mit jeweils einer Auswahlmöglichkeit für nie, selten, manchmal, häufig oder immer. Trefft bitte für jede Verhaltensweise eine Auswahl. Wenn mal zu einem Punkt keine Aussage getroffen werden kann, bitte "nie" auswählen. Dieser Wert wird dann bei der Auswertung nicht in die Berechnung einbezogen.
</p>

<p>Sobald die Befragung von allen im Team abgeschlossen ist, werde ich die Auswertung online stellen und euch das Ergebnis erläutern.</p>

<br />
<h3>
  <%= link_to 'Start', new_survey_path %>  
</h3>
